<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment">
</header>
<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }

    a {
        color: #1baeae;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    a:hover {
        color: white;
        background-color: #1baeae;
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Include page header header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- Include toolbar sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Order Management</h3>
                    </div> <!-- /.card-body -->
                    <div class="card-body">
                        <div class="grid-btn">
                            <button class="btn btn-info" onclick="orderEdit()"><i
                                    class="fa fa-pencil-square-o"></i>&nbsp;Edit Order
                            </button>
                            <button class="btn btn-info" onclick="orderCheckDone()"><i
                                    class="fa fa-truck"></i>&nbsp;Pick-up Completed
                            </button>
                            <button class="btn btn-info" onclick="orderCheckOut()"><i
                                    class="fa fa-truck"></i>&nbsp;Outbound
                            </button>
                            <button class="btn btn-danger" onclick="closeOrder()"><i
                                    class="fa fa-trash-o"></i>&nbsp;Close Order
                            </button>
                        </div>
                        <table id="jqGrid" class="table table-bordered">
                        </table>
                        <div id="jqGridPager"></div>
                    </div><!-- /.card-body -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <div class="content">
            <!-- Modal -->
            <div class="modal fade" id="orderInfoModal" tabindex="-1" role="dialog"
                 aria-labelledby="orderInfoModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="orderInfoModalLabel">Modal</h6>
                        </div>
                        <div class="modal-body">
                            <form id="##">
                                <div class="form-group">
                                    <div class="alert alert-danger" id="edit-error-msg" style="display: none;">
                                        Error message display area.
                                    </div>
                                </div>
                                <input type="hidden" id="orderId">
                                <div class="form-group">
                                    <label for="totalPrice" class="control-label">Order Price:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <input type="number" class="form-control" id="totalPrice" name="totalPrice"
                                           placeholder="Enter new price" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="userAddress"
                                           class="control-label">Recipient Information:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <input type="text" class="form-control" id="userAddress" name="userAddress"
                                           placeholder="Enter recipient address" value="##">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="saveButton">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
        </div>
        <div class="content">
            <!-- Modal -->
            <div class="modal fade" id="expressInfoModal" tabindex="-1" role="dialog"
                 aria-labelledby="expressInfoModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="expressInfoModalLabel">Modal</h6>
                        </div>
                        <div class="modal-body">
                            <form id="##">
                                <div class="form-group">
                                    <label class="control-label">Recipient Information:</label>
                                    <label id="userAddressInfo" class="control-label"></label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
        </div>
        <div class="content">
            <!-- Modal -->
            <div class="modal fade" id="orderItemModal" tabindex="-1" role="dialog"
                 aria-labelledby="orderItemModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="orderItemModalLabel">Modal</h6>
                        </div>
                        <div class="modal-body">
                            <form id="##">
                                <div class="form-group">
                                    <label id="orderItemString" class="control-label"></label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- Include footer footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- jqGrid -->
<script th:src="@{/admin/plugins/jqgrid-5.7.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.7.0/grid.locale-cn.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/dist/js/newbee_mall_order.js}"></script>
</body>
</html>