<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment">
</header>
<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Include page header header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- Include toolbar sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Homepage Configuration Management</h3>
                    </div> <!-- /.card-body -->
                    <div class="card-body">
                        <div class="grid-btn">
                            <button class="btn btn-info" onclick="configAdd()"><i
                                    class="fa fa-plus"></i>&nbsp;Add New
                            </button>
                            <button class="btn btn-info" onclick="configEdit()"><i
                                    class="fa fa-pencil-square-o"></i>&nbsp;Edit
                            </button>
                            <button class="btn btn-danger" onclick="deleteConfig()"><i
                                    class="fa fa-trash-o"></i>&nbsp;Delete
                            </button>
                        </div>
                        <br>
                        <table id="jqGrid" class="table table-bordered">
                        </table>
                        <div id="jqGridPager"></div>
                    </div><!-- /.card-body -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
        <div class="content">
            <!-- Modal -->
            <div class="modal fade" id="indexConfigModal" tabindex="-1" role="dialog"
                 aria-labelledby="indexConfigModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="categoryModalLabel">Modal</h6>
                        </div>
                        <div class="modal-body">
                            <form id="indexConfigForm">
                                <div class="form-group">
                                    <div class="alert alert-danger" id="edit-error-msg" style="display: none;">
                                        Error message display area.
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" id="indexConfigModaconfigId" name="indexConfigModaconfigId">
                                <input type="hidden" id="configType" th:value="${configType}">
                                <div class="form-group">
                                    <label for="configName" class="control-label">Display Text:</label>
                                    <input type="text" class="form-control" id="configName" name="configName"
                                           placeholder="Enter display text" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="redirectUrl" class="control-label">Redirect URL:</label>
                                    <input type="text" class="form-control" id="redirectUrl" name="redirectUrl"
                                           placeholder="Enter redirect URL" value="##">
                                </div>
                                <div class="form-group">
                                    <label for="goodsId" class="control-label">Associated Product ID:</label>
                                    <input type="number" class="form-control" id="goodsId" name="goodsId"
                                           placeholder="Associated Product ID" value="0">
                                </div>
                                <div class="form-group">
                                    <label for="configRank" class="control-label">Order Value:</label>
                                    <input type="number" class="form-control" id="configRank" name="configRank"
                                           placeholder="Enter order value">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="saveButton">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- Include footer footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- jqGrid -->
<script th:src="@{/admin/plugins/jqgrid-5.7.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.7.0/grid.locale-cn.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/dist/js/newbee_mall_index_config.js}"></script>
</body>
</html>