<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar-fragment(path)" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{/admin/index}" class="brand-link">
        <img th:src="@{/admin/dist/img/new-bee-logo-1.png}" alt="ssm-cluster Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">NEWBEE Mall</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-header">Dashboard</li>
                <li class="nav-item">
                    <a th:href="@{/admin/index}" th:class="${path}=='index'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/goods/edit}" th:class="${path}=='goods-edit'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-plus"></i>
                        <p>
                            Product Information
                        </p>
                    </a>
                </li>
                <li class="nav-header">Homepage Configuration</li>
                <li class="nav-item">
                    <a th:href="@{/admin/carousels}"
                       th:class="${path}=='newbee_mall_carousel'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-file-image-o"></i>
                        <p>
                            Carousel Configuration
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/indexConfigs?configType=3}"
                       th:class="${path}=='INDEX_GOODS_HOTS'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-hand-o-up"></i>
                        <p>
                            Hot Products Configuration
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/indexConfigs?configType=4}"
                       th:class="${path}=='INDEX_GOODS_NEW'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-hand-o-up"></i>
                        <p>
                            New Arrivals Configuration
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/indexConfigs?configType=5}"
                       th:class="${path}=='INDEX_GOODS_RECOMMOND'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-hand-o-up"></i>
                        <p>
                            Recommended for You Configuration
                        </p>
                    </a>
                </li>
                <li class="nav-header">Management Module</li>
                <li class="nav-item">
                    <a th:href="@{/admin/categories?parentId=0&categoryLevel=1&backParentId=0}"
                       th:class="${path}=='newbee_mall_category'?'nav-link active':'nav-link'">
                        <i class="fa fa-list-alt nav-icon" aria-hidden="true"></i>
                        <p>
                            Category Management
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/goods}" th:class="${path}=='newbee_mall_goods'?'nav-link active':'nav-link'">
                        <i class="fa fa-archive nav-icon" aria-hidden="true"></i>
                        <p>
                            Product Management
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/users}" th:class="${path}=='users'?'nav-link active':'nav-link'">
                        <i class="fa fa-users nav-icon" aria-hidden="true"></i>
                        <p>
                            Member Management
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/orders}" th:class="${path}=='orders'?'nav-link active':'nav-link'">
                        <i class="fa fa-money nav-icon" aria-hidden="true"></i>
                        <p>
                            Order Management
                        </p>
                    </a>
                </li>
                <li class="nav-header">System Settings</li>
                <li class="nav-item">
                    <a th:href="@{/admin/profile}"
                       th:class="${path}=='profile'?'nav-link active':'nav-link'">
                        <i class="fa fa-user-secret nav-icon"></i>
                        <p>Change Password</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/logout}" class="nav-link">
                        <i class="fa fa-sign-out nav-icon"></i>
                        <p>Log Out Safely</p>
                    </a>
                </li>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
</html>