<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
                <dd class="fl">
                    <p class="text">Customer Service</p>
                    <p class="tel">400-xxx-xx13</p>
                    <a href="##">Online Support</a>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>Help Center</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Account Management</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Shopping Guide</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Order Instructions</a></dd>
            </dl>
            <dl class="col-article">
                <dt>Follow Us</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Sina Weibo</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Official WeChat</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Contact Us</a></dd>
            </dl>
            <dl class="col-article">
                <dt>Offline Stores</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">NEWBEE TOWN</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Service Outlets</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Authorized Experience Stores</a></dd>
            </dl>
            <dl class="col-article">
                <dt>About NewBee</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Learn About Us</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Join Us</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Support Us</a></dd>
            </dl>
            <dl class="wx">
                <dt>newbee-mall</dt>
                <dd>
                    <img th:src="@{/mall/image/pay/wxpay_qrcode.png}">
                </dd>
                <dd class="other">
                    <span>Branches:</span>
                    <a href="##">Beijing</a>
                    <a href="##">Shanghai</a>
                    <a href="##">Guangzhou</a>
                    <a href="##">Shenzhen</a>
                    <a href="##">Hangzhou</a>
                </dd>
            </dl>
        </div>
        <div class="footer-links w1100">
            <p>Friendship Links:</p>
            <div class="clearfix">
                <a th:href="@{/index}">NewBee Mall</a>
                <a th:href="@{/admin}">Admin Dashboard</a>
            </div>
        </div>
        <div class="footer-info w1100">
            <div class="info-text w1100">
                <p><a href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">NewBee Mall &nbsp; | &nbsp;
                    Powered by Shisan&nbsp;
                    | &nbsp;</a>
                    &nbsp;QQ Group: 796794009
                </p>
                <p><a href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Copyright © 2019-2020 Shisan  All
                    Rights Reserved.&nbsp; | &nbsp; ICP License No. 17008806-5 </a></p>
            </div>
        </div>
    </div>
</div>
</html>