<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment(title,path)">
    <meta charset="UTF-8">
    <title>NewBee Mall</title>
    <link rel="stylesheet" th:href="@{/mall/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/mall/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/mall/css/common.css}">
    <link rel="stylesheet" th:href="@{/mall/styles/header.css}">
    <link rel="stylesheet" th:href="@{'/mall/styles/'+${path}+'.css'}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert2/sweetalert2.min.css}"/>
    <meta name="keywords" content="NewBee Mall,newbee-mall,NewBee,e-commerce,open source mall,enterprise-level mall,large mall project,Java mall,springboot mall,SpringBoot project,Spring Boot mall practical tutorial" />
    <meta name="description" content="NewBee Mall project is a full e-commerce system, including the front-end NewBee Mall and the back-end NewBee Mall Admin. It is developed using Spring Boot 2.X and related technologies. The front-end includes modules like homepage, product categories, new arrivals, carousel, product recommendations, product search, product display, shopping cart, order settlement, order process, user order management, member center, help center, etc. The admin system includes dashboard, carousel management, product management, order management, user management, category management, settings, and more."/>
</head>

<nav id="nav" th:fragment="nav-fragment">
    <div class="banner_x center">
        <a th:href="@{/index}" class="logo"><h1>NewBee Mall</h1></a>
        <div class="fr">
            <div class="search">
                <input class="text" type="text" id="keyword" autocomplete="off">
                <div class="search_hot">
                </div>
            </div>
            <div class="button iconfont icon-search" onclick="search()"></div>
        </div>
    </div>
</nav>

<header id="header" th:fragment="header-fragment">
    <div class="center">
        <ul class="fl">
            <li><a th:href="@{/index}">NewBee Mall</a></li>
            <li><a th:href="@{/admin}">Admin System</a></li>
        </ul>
        <div class="fr">
            <th:block th:unless="${session.newBeeMallUser==null}">
                <div class="user">
                    <ul class="selector">
                        <li>
                            <a th:href="@{/personal}">
                                Personal Center
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/orders}">
                                My Orders
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/logout}">
                                Log Out
                            </a>
                        </li>
                    </ul>
                    <a href="##" class="username">
                        <th:block th:text="${session.newBeeMallUser.nickName}"></th:block>
                        <i class="iconfont icon-down"></i>
                    </a>
                </div>
                <div class="shopcart">
                    <a th:href="@{/shop-cart}" style="color: white;"><i class="iconfont icon-cart"></i>
                        Cart(
                        <th:block th:text="${session.newBeeMallUser.shopCartItemCount}"></th:block>
                        )</a>
                </div>
            </th:block>
            <th:block th:if="${session.newBeeMallUser==null}">
                <ul class="login">
                    <li><a th:href="@{/login}">Login</a></li>
                    <li><a th:href="@{/register}">Register</a></li>
                </ul>
                <div class="shopcart">
                    <a href="##" style="color: white;"><i class="iconfont icon-cart"></i>
                        Cart(0)</a>
                </div>
            </th:block>
        </div>
    </div>
</header>
</html>