<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('NewBee Mall - Order Details','order-detail')">
</head>
<link rel="stylesheet" th:href="@{/admin/plugins/sweetalert2/sweetalert2.min.css}"/>
<body>
<header th:replace="mall/header::header-fragment"></header>
<!-- nav -->
<nav th:replace="mall/header::nav-fragment"></nav>

<!-- personal -->
<div id="personal">
    <div class="self-info center">

        <!-- sidebar -->
        <div th:replace="mall/personal-sidebar::sidebar-fragment"></div>

        <div class="intro fr">
            <div class="uc-box uc-main-box">
                <div class="uc-content-box order-view-box">
                    <div class="box-hd">
                        <h1 class="title">Order Details
                            <small>Please beware of phishing links or scam calls, <a href="##">Learn more&gt;</a>
                            </small>
                        </h1>
                        <div class="more clearfix">
                            <h2 class="subtitle">Order No:
                                <th:block th:text="${orderDetailVO.orderNo}"></th:block>
                                <span class="tag tag-subsidy"></span>
                            </h2>
                            <div class="actions">
                                <input type="hidden" id="orderNoValue" th:value="${orderDetailVO.orderNo}">
                                <th:block th:if="${orderDetailVO.orderStatus>0 and orderDetailVO.orderStatus<3}">
                                    <a onclick="cancelOrder()" class="btn btn-small btn-line-gray" title="Cancel Order">Cancel Order</a>
                                </th:block>
                                <th:block th:if="${orderDetailVO.orderStatus==0}">
                                    <a onclick="payOrder()" class="btn btn-small btn-primary" title="Proceed to Payment">Proceed to Payment</a>
                                </th:block>
                                <th:block th:if="${orderDetailVO.orderStatus==3}">
                                    <a onclick="finishOrder()" class="btn btn-small btn-primary" title="Confirm Receipt">Confirm Receipt</a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div class="box-bd">
                        <div class="uc-order-item uc-order-item-pay">
                            <div class="order-detail">

                                <div class="order-summary">
                                    <div class="order-status" th:text="${orderDetailVO.orderStatusString}">
                                        newbee
                                    </div>
                                    <div class="order-desc">
                                        <th:block th:if="${orderDetailVO.orderStatus==0}">Please complete the payment as soon as possible~</th:block>
                                        <th:block th:if="${orderDetailVO.orderStatus==1}">Newbee Mall order is being confirmed~</th:block>
                                        <th:block th:if="${orderDetailVO.orderStatus==2}">Newbee warehouse is urgently preparing goods~</th:block>
                                        <th:block th:if="${orderDetailVO.orderStatus==3}">The order has been shipped and is speeding towards you~</th:block>
                                        <th:block th:if="${orderDetailVO.orderStatus==4}">Transaction successful, thank you for supporting Newbee Mall~</th:block>
                                        <th:block th:if="${orderDetailVO.orderStatus<0}">Transaction has been closed~</th:block>
                                    </div>
                                    <th:block th:if="${orderDetailVO.orderStatus>=0}">
                                        <div class="order-progress">
                                            <ol class="progress-list clearfix progress-list-5">
                                                <th:block th:if="${orderDetailVO.orderStatus==0}">
                                                    <li class="step step-active">
                                                </th:block>
                                                <th:block th:if="${orderDetailVO.orderStatus>0}">
                                                    <li class="step step-first">
                                                </th:block>
                                                <div class="progress"><span class="text">Order Placed</span></div>
                                                <div class="info" th:text="${#dates.format(orderDetailVO.createTime, 'yyyy-MM-dd HH:mm:ss')}">
                                                    Feb 07
                                                </div>
                                                </li>
                                                <th:block th:if="${orderDetailVO.orderStatus<1}">
                                                    <li class="step">
                                                </th:block>
                                                <th:block th:if="${orderDetailVO.orderStatus==1}">
                                                    <li class="step step-active">
                                                </th:block>
                                                <th:block th:if="${orderDetailVO.orderStatus>1}">
                                                    <li class="step step-done">
                                                </th:block>
                                                <div class="progress"><span class="text">Payment</span></div>
                                                <div class="info"></div>
                                                </li>
                                                <th:block th:if="${orderDetailVO.orderStatus<2}">
                                                    <li class="step">
                                                </th:block>
                                                <th:block th:if="${orderDetailVO.orderStatus==2}">
                                                    <li class="step step-active">
                                                </th:block>
                                                <th:block th:if="${orderDetailVO.orderStatus>2}">
                                                    <li class="step step-done">
                                                </th:block>
                                                <div class="progress"><span class="text">Picking</span></div>
                                                <div class="info"></div>
                                                </li>
                                                <th:block th:if="${orderDetailVO.orderStatus<3}">
                                                    <li class="step">
                                                </th:block>
                                                <th:block th:if="${orderDetailVO.orderStatus==3}">
                                                    <li class="step step-active">
                                                </th:block>
                                                <th:block th:if="${orderDetailVO.orderStatus>3}">
                                                    <li class="step step-done">
                                                </th:block>
                                                <div class="progress"><span class="text">Shipped</span></div>
                                                <div class="info"></div>
                                                </li>
                                                <th:block th:if="${orderDetailVO.orderStatus<4}">
                                                    <li class="step">
                                                </th:block>
                                                <th:block th:if="${orderDetailVO.orderStatus==4}">
                                                    <li class="step step-active">
                                                </th:block>
                                                <th:block th:if="${orderDetailVO.orderStatus>4}">
                                                    <li class="step step-last">
                                                </th:block>
                                                <div class="progress"><span class="text">Transaction Success</span></div>
                                                <div class="info"></div>
                                                </li>
                                            </ol>
                                        </div>
                                    </th:block>
                                </div>
                                <table class="order-items-table">
                                    <tbody>
                                    <th:block th:each="item : ${orderDetailVO.newBeeMallOrderItemVOS}">
                                        <tr>
                                            <td class="col col-thumb">
                                                <div class="figure figure-thumb">
                                                    <a target="_blank" th:href="@{'/goods/detail/'+${item.goodsId}}">
                                                        <img th:src="@{${item.goodsCoverImg}}"
                                                             width="80" height="80" alt="">
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="col col-name">
                                                <p class="name">
                                                    <a target="_blank" th:href="@{'/goods/detail/'+${item.goodsId}}"
                                                       th:text="${item.goodsName}">newbee</a>
                                                </p>
                                            </td>
                                            <td class="col col-price"><p class="price"
                                                                         th:text="${item.sellingPrice+'元 x '+item.goodsCount}">
                                                1299元 × 1</p></td>
                                            <td class="col col-actions">
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <div id="editAddr" class="order-detail-info">
                                <h3>Shipping Information</h3>
                                <table class="info-table">
                                    <tbody>
                                    <tr>
                                        <td th:text="${orderDetailVO.userAddress}">newbee</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="actions">
                                </div>
                            </div>
                            <div id="editTime" class="order-detail-info">
                                <h3>Payment Method</h3>
                                <table class="info-table">
                                    <tbody>
                                    <tr>
                                        <th>Payment Method:</th>
                                        <td th:text="${orderDetailVO.payTypeString==null?'Online Payment':orderDetailVO.payTypeString}">
                                            Online Payment
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="actions">
                                </div>
                            </div>
                            <div class="order-detail-total">
                                <table class="total-table">
                                    <tbody>
                                    <tr>
                                        <th>Shipping Fee:</th>
                                        <td><span class="num">0</span> yuan</td>
                                    </tr>
                                    <tr>
                                        <th class="total">Total Price:</th>
                                        <td class="total"><span class="num"
                                                                th:text="${orderDetailVO.totalPrice+'.00'}">1299.00</span> yuan
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div th:replace="mall/footer::footer-fragment"></div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script type="text/javascript">

    function cancelOrder() {
        var orderNo = $("#orderNoValue").val();
        Swal.fire({
            title: "Notice",
            text: "Are you sure you want to cancel this order?",
            icon: "warning",iconColor:"#dea32c",
            showCancelButton: true,
            confirmButtonText: 'Confirm',
            cancelButtonText: 'Cancel'
        }).then((flag) => {
                if (flag.value) {
                    $.ajax({
                        type: 'PUT',
                        url: '/orders/' + orderNo + '/cancel',
                        success: function (result) {
                            if (result.resultCode == 200) {
                                window.location.reload();
                            } else {
                                Swal.fire({
                                    text: result.message,
                                    icon: "error",iconColor:"#f05b72",
                                });
                            }
                        },
                        error: function () {
                            Swal.fire({
                                text: "Operation failed",
                                icon: "error",iconColor:"#f05b72",
                            });
                        }
                    });
                }
            }
        )
        ;
    }

    function payOrder() {
        var orderNo = $("#orderNoValue").val();
        window.location.href = '/selectPayType?orderNo=' + orderNo;
    }

    function finishOrder() {
        var orderNo = $("#orderNoValue").val();
        $.ajax({
            type: 'PUT',
            url: '/orders/' + orderNo + '/finish',
            success: function (result) {
                if (result.resultCode == 200) {
                    window.location.reload();
                } else {
                    Swal.fire({
                        text: result.message,
                        icon: "error",iconColor:"#f05b72",
                    });
                }
            },
            error: function () {
                Swal.fire({
                    text: "Operation failed",
                    icon: "error",iconColor:"#f05b72",
                });
            }
        });
    }

</script>
</body>
</html>